<% if (theme.disqus.enable === 'all' || (theme.disqus.enable === 'post' && !isPage)) { %>
    <section>
      <div id="disqus_thread"></div>
    </section>
  <% } %>

  <% if (theme.disqusjs.enable === 'all' || (theme.disqusjs.enable === 'post' && !isPage)) { %>
    <section>
        <div id="disqus_thread"></div>

        <%- partial('_partial/disqusjs-script.ejs') %>
    </section>
  <% } %>