<% if (theme.disqus.enable === 'all' || (theme.disqus.enable === 'post' && !isPage)) { %>
    <section>
      <div id="disqus_thread"></div>
      <script>
        window.disqus_config = function () {
          this.page.url = '<%= page.permalink %>';
          this.page.identifier = '<%= page.path %>';
        }
        if (typeof DISQUS === 'undefined') {
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://<%= theme.disqus.shortname %>.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        } else {
          DISQUS.reset({
              reload: true,
              config: window.disqus_config
          })
        }
      </script>
    </section>
  <% } %>

  <% if (theme.disqusjs.enable === 'all' || (theme.disqusjs.enable === 'post' && !isPage)) { %>
    <section>
        <div id="disqus_thread"></div>

        <%- partial('_partial/disqusjs-script.ejs') %>
    </section>
  <% } %>