fill-full(l, r)
    position: absolute
    left: l
    right: r

    
.route-trans-enter
    fill-full(0, 0)
    transform: translateX(-100px)
    opacity: 0

.route-trans-enter.route-trans-enter-active
    animation: route-trans-e 0.8s
    animation-fill-mode: forwards


.route-trans-leave
    fill-full(0, 0)
    transform: translateX(0)
    opacity: 1

.route-trans-leave.route-trans-leave-active
    animation: route-trans-o 0.8s
    animation-fill-mode: forwards

@keyframes route-trans-e
    0%
        transform: translate3d(-100px, 0, 0)
        opacity: 0
    50%
        transform: translate3d(-100px, 0, 0)
        opacity: 0
    100%
        transform: translate3d(0, 0, 0)
        opacity: 1

@keyframes route-trans-o
    0%
        transform: translate3d(0, 0, 0)
        opacity: 1
    50%
        transform: translate3d(100px, 0, 0)
        opacity: 0
    100%
        transform: translate3d(100px, 0, 0)
        opacity: 0